@model MVCApplication.Models.Employee
@{
    ViewBag.Title = "ShowEmployeeDetails";
}

<h2>ShowEmployeeDetails</h2>
<div>
    @ViewBag.Empvb <br />
    @TempData["Emp"] <br />
    @ViewData["Empvd"].ToString() <br />
    @TempData["Empt"] <br />
</div>


